<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= include_recaptcha_js %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <ul>
      <li><%= link_to 'Posts', :posts %></li>
      <li><%= link_to 'Books', :books %></li>
    </ul>

    <%= yield %>
  </body>
</html>
